.effect-bold { font-weight: bold; }
.effect-dim { font-weight: lighter; }
.effect-italic { font-style: italic; }
.effect-underline { text-decoration: underline; }
.effect-striketrough { text-decoration: line-through; }
.effect-reverse { filter: invert(1); }
.effect-slow-blink { animation: blink 500ms linear infinite; }
.effect-fast-blink { animation: blink 250ms linear infinite; }
.effect-hidden { opacity: 0.5; }

@keyframes blink {
    0%, 100% {
        color: white;
    }

    50% {
        color: transparent;
    }
}