/* 
Reference: https://i.sstatic.net/9UVnC.png
Color theme: WINDOWS Console
*/

/* Foreground colors */
.color-fg-black { color: rgb(0, 0, 0) !important; }
.color-fg-red { color: rgb(128, 0, 0) !important; }
.color-fg-green { color: rgb(0, 128, 0) !important; }
.color-fg-yellow { color: rgb(128, 128, 0) !important; }
.color-fg-blue { color: rgb(0, 0, 128) !important; }
.color-fg-magenta { color: rgb(128, 0, 128) !important; }
.color-fg-cyan { color: rgb(0, 128, 128) !important; }
.color-fg-white { color: rgb(192, 192, 192) !important; }

/* Bright foreground colors */
.color-fg-bright-black { color: rgb(128, 128, 128) !important; }
.color-fg-bright-red { color: rgb(255, 0, 0) !important; }
.color-fg-bright-green { color: rgb(0, 255, 0) !important; }
.color-fg-bright-yellow { color: rgb(255, 255, 0) !important; }
.color-fg-bright-blue { color: rgb(0, 0, 255) !important; }
.color-fg-bright-magenta { color: rgb(255, 0, 255) !important; }
.color-fg-bright-cyan { color: rgb(0, 255, 255) !important; }
.color-fg-bright-white { color: rgb(255, 255, 255) !important; }



/* Background colors */
.color-bg-black { background-color: rgb(0, 0, 0) !important; }
.color-bg-red { background-color: rgb(128, 0, 0) !important; }
.color-bg-green { background-color: rgb(0, 128, 0) !important; }
.color-bg-yellow { background-color: rgb(128, 128, 0) !important; }
.color-bg-blue { background-color: rgb(0, 0, 128) !important; }
.color-bg-magenta { background-color: rgb(128, 0, 128) !important; }
.color-bg-cyan { background-color: rgb(0, 128, 128) !important; }
.color-bg-white { background-color: rgb(192, 192, 192) !important; }

/* Bright background colors*/
.color-bg-bright-black { background-color: rgb(128, 128, 128) !important; }
.color-bg-bright-red { background-color: rgb(255, 0, 0) !important; }
.color-bg-bright-green { background-color: rgb(0, 255, 0) !important; }
.color-bg-bright-yellow { background-color: rgb(255, 255, 0) !important; }
.color-bg-bright-blue { background-color: rgb(0, 0, 255) !important; }
.color-bg-bright-magenta { background-color: rgb(255, 0, 255) !important; }
.color-bg-bright-cyan { background-color: rgb(0, 255, 255) !important; }
.color-bg-bright-white { background-color: rgb(255, 255, 255) !important; }