body {
    width: 100vw;
    height: 100vh;

    margin: 0px;

    background-color: #000000;

    font-family: monospace;
    font-size: 20px;
}

.menu {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 25vw;
    height: 25vh;

    max-width: 300px;
    max-height: 500px;

    margin: 0px;
    padding: 10px;

    border-radius: 10px;

    z-index: 20;

    background-color: #88888888;
}

.menu .row {
    width: 100%;

}

.menu #error_message {
    color: #ff0000;
    font-weight: bold;
}

.terminal {
    position: fixed;

    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    font-family: monospace;
    font-size: 16px;

    background-color: black;
    color: white;

    border: none;
}

.terminal.color {
    z-index: 0;
}

.terminal.text {
    z-index: 10;

    background-color: transparent;
    color: white;

    resize: none;
    outline: none;
}

.terminal .text::selection {
    filter: invert(1);
}

.contextmenu {
    background-color: #88888888;
    color: white;

    border-radius: 10px;
    border: 2px solid #888888;

    width: 200px;
}

.contextmenu .item {
    width: 100%;
}