body {
    width: 100vw;
    height: 100vh;

    margin: 0px;

    background-color: #000000;
    color: white;

    font-family: monospace;
    font-size: 20px;
}

.hidden {
    display: none !important;
}

.menu {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 25vw;
    height: 25vh;

    max-width: 500px;
    max-height: 500px;

    min-width: 200px;

    margin: 0px;
    padding: 10px;

    border-radius: 10px;

    z-index: 20;

    background-color: #88888888;

    font-family: monospace;
    font-size: 20px;
}

.menu .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    column-gap: 5px;

    width: 100%;
    height: 1fr;
}

.menu .row:first-child, .menu .row:last-child {
    grid-template-columns: 1fr;
    min-height: 16.66%;
}

.menu .row input {
    width: auto;
    min-width: 3em;

    font-family: inherit;
    font-size: inherit;

    outline: none;

    background-color: transparent;
    color: white;
    border: 2px solid #888888;
    border-radius: 3px;
}

.menu #connect_button {
    font-family: inherit;
    font-size: inherit;

    background-color: transparent;
    color: white;
    border: 2px solid #888888;
    border-radius: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    box-shadow: 1px 1px 0px #888888;

    transition: 0.25s all;
}

.menu #connect_button:hover {
    background-color: #88888888;
    border-color: #ffffff88;
    text-shadow: 2px 2px 5px #000000;

    transition: 0.1s all;
}

.menu #connect_button:active {
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 0px transparent;
}

.menu #error_message {
    content: "asd";
    color: #ff0000;
    font-weight: bold;
    margin: auto;
}

.terminal {
    position: fixed;

    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    font-family: monospace;
    font-size: 16px;

    background-color: black;
    color: white;

    border: none;
}

.terminal.color {
    z-index: 0;

    white-space: pre;
    word-wrap: normal;
    user-select: none;
}

.terminal.color span {
    white-space: inherit;
    word-wrap: inherit;
    user-select: inherit;
}

.terminal.text {
    z-index: 10;

    background-color: transparent;
    color: white;

    resize: none;
    outline: none;
}

.terminal.text.disabled {
    pointer-events: none;
    caret-color: transparent;
}

.terminal.text::selection {
    color: white;
    background-color: #00aaff;
}

/* Right-clik menu */
.contextmenu {
    z-index: 100;

    background-color: #88888888;
    color: white;

    border-radius: 10px;
    border: 2px solid #888888;

    width: 200px;
}

.contextmenu .item {
    width: 100%;
}